#assignment of led signals

#NET"Ld" LOC = M5;

#PWM out 
NET"PWMOut" LOC = C12;


NET "LD[7]" LOC = G1;
NET "LD[6]" LOC = P4;
NET "LD[5]" LOC = N4;
NET "LD[4]" LOC = N5;
NET "LD[3]" LOC = P6;
NET "LD[2]" LOC = P7;
NET "LD[1]" LOC = M11;
NET "LD[0]" LOC = M5;

#BTN signals
NET "BTN3" LOC = A7;
#Assignment of CLK
NET "clk" LOC = B8;


#Assignment of 7-seg cathode
NET"cat[7]" LOC = N13;
NET"cat[6]" LOC = M12;
NET"cat[5]" LOC = L13;
NET"cat[4]" LOC = P12;
NET"cat[3]" LOC = N11;
NET"cat[2]" LOC = N14;
NET"cat[1]" LOC = H12;
NET"cat[0]" LOC = L14;

#Assignment of anode
NET"an[0]" LOC = F12;
NET"an[1]" LOC = J12;
NET"an[2]" LOC = M13;
NET"an[3]" LOC = K14;


# Vores UCF
NET"MOSI" LOC = B2;
NET"SClk" LOC = A3;
NET"SClk" CLOCK_DEDICATED_ROUTE = FALSE; 
NET"SSnot" LOC = J3;